<style>
    a {
        color:black
    }
    a:hover{
        color:yellow;
    }
</style>
@{
    ViewBag.Title = "Xacnhandonhang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="margin-top: 177px;font-size: 30px;text-align: center;color: red;">ĐƠN HÀNG CỦA BẠN ĐÃ ĐƯỢC GỬI, CHÚNG TÔI SẼ LIÊN HỆ BẠN SAU, XIN CÁM ƠN.</h2>
<p style="padding: 8px;text-align: center;border-radius: 5px;border: double;background-color: darkseagreen;width: 11%;height: 45px;margin-top: 55px;font-size: 16px;margin-left: 10px;"> @Html.ActionLink("Về Trang Chủ", "Index", "Home") </p>

