!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title - My Web Sell</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css">


    <link rel="stylesheet" type="text/css" href="~/Content/font-awesome.css">

    <link rel="stylesheet" href="~/Content/templatemo-hexashop.css">

    <link rel="stylesheet" href="~/Content/owl-carousel.css">

    <link rel="stylesheet" href="~/Content/lightbox.css">
    <!--

    TemplateMo 571 Hexashop

    https://templatemo.com/tm-571-hexashop

    -->
    
</head>
<body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="index.html" class="logo">
                            <img src="~/images/logo.png">
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section">
                                @Html.ActionLink("Quản Lý Sản Phẩm ", "SanPham", "TrangQT")
                            </li>
                            <li class="scroll-to-section">
                                @Html.ActionLink("Phân Loại Sản Phẩm", "SanPham", "TrangQT")
                            </li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    @RenderBody()
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="first-item">
                        <div class="logo">
                            <img src="~/images/white-logo.png" alt="hexashop ecommerce templatemo">
                        </div>
                        <ul>
                            <li><a href="#">16501 Collins Ave, Sunny Isles Beach, FL 33160, Hoa Kỳ</a></li>
                            <li><a href="#">hexashop@company.com</a></li>
                            <li><a href="#">010-020-0340</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <h4>Shopping &amp; Categories</h4>
                    <ul>
                        <li><a href="#">Nước Hoa Nam</a></li>
                        <li><a href="#">Nước Hoa Nữ</a></li>
                        <li><a href="#">Nước Hoa Unisex</a></li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <h4>Liên Kết Hữu Ích</h4>
                    <ul>
                        <li><a href="#">Trang Chủ</a></li>
                        <li><a href="#">Về Chúng Tôi</a></li>
                        <li><a href="#">Trợ Giúp</a></li>
                        <li><a href="#">Liên Hệ Chúng Tôi</a></li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <h4>Help &amp; Thông Tin</h4>
                    <ul>
                        <li><a href="#">Trợ Giúp</a></li>
                        <li><a href="#">Câu Hỏi Thường ặp</a></li>
                        <li><a href="#">Đang Chuyển Hàng</a></li>
                        <li><a href="#">ID Theo Dõi</a></li>
                    </ul>
                </div>
                <div class="col-lg-12">
                    <div class="under-footer">
                        <p>
                            Bản quyền © 2022 HexaShop Co., Ltd. Mọi quyền được bảo lưu.

                            <br>Thiết Kế <a href="hexashop.com" target="_parent">Hexashop</a>
                        </p>
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="~/Scripts/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="~/Scripts/popper.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="~/Scripts/owl-carousel.js"></script>
    <script src="~/Scripts/accordions.js"></script>
    <script src="~/Scripts/datepicker.js"></script>
    <script src="~/Scripts/scrollreveal.min.js"></script>
    <script src="~/Scripts/waypoints.min.js"></script>
    <script src="~/Scripts/jquery.counterup.min.js"></script>
    <script src="~/Scripts/imgfix.min.js"></script>
    <script src="~/Scripts/slick.js"></script>
    <script src="~/Scripts/lightbox.js"></script>
    <script src="~/Scripts/isotope.js"></script>

    <!-- Global Init -->
    <script src="~/Scripts/custom.js"></script>

    <script>

        $(function () {
            var selectedClass = "";
            $("p").click(function () {
                selectedClass = $(this).attr("data-rel");
                $("#portfolio").fadeTo(50, 0.1);
                $("#portfolio div").not("." + selectedClass).fadeOut();
                setTimeout(function () {
                    $("." + selectedClass).fadeIn();
                    $("#portfolio").fadeTo(50, 1);
                }, 500);

            });
        });

    </script>

</body>
</html>
